@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: 'Epilogue' !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1F2B2B;
}

.responsive-container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    margin-bottom: 60px;
}

.navbar-user-link ul {
    gap: 40px;
}

.navbar-link {
    color: #A59C8D;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.common-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 2px;
}

.header-button {
    min-width: 144px;
    border: 1px solid #A59C8D;
    background-color: #1F2B2B;
    color: #A59C8D;
}

.navbar-link:hover {
    border-bottom: 1px solid #A59C8D;
    padding-bottom: 5px;
}

.header-button:hover {
    background-color: #857867;
    color: white;
    transition: all 0.3s ease-in-out;
}

.real-estate-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
}

.real-estate-content {
    max-width: 32%;
    display: flex;
    flex-direction: column;
}

.common-heading {
    color: #1F2B2B;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
    padding-bottom: 30px;
}

.common-paragraph {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #1F2B2B;
    margin: 0;
    padding: 15px 0;
}

.real-estate-button {
    background-color: #A59C8D;
    border: 1px solid #857867;
    color: #FAFAFA;
    min-width: 170px;
    transition: all 0.3s ease-in-out;
}

.real-estate-button:hover {
    border: 1px solid #A59C8D;
    background-color: #857867;
}

.lending-criteria-section {
    background-image: url("../images/backround-image.jpg");
    background-size: cover;
    background-position: center;
}

.lending-criteria-content {
    max-width: 48%;
    padding: 95px 0;
}

.lending-criteria-wrapper {
    margin: 70px 0;
}

.lending-criteria-button {
    background-color: #FAFAFA;
    color: #1F2B2B;
    border: 1px solid #857867;
    min-width: 160px;
}

.four-categories-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    text-align: center;
    align-items: center;
}

.card-heading {
    font-size: 24px;
    font-weight: 700;
    color: #A59C8D;
    line-height: 32px;
    margin: 0;
    padding-top: 10px;
}

.speed-content {
    padding: 35px;
    background-color: #A59C8D33;
    max-width: 58%;
}

.everpeak-categories-wrapper {
    padding: 60px 0 70px 0;
}

.blog-heading {
    font-size: 24px;
    font-weight: 700;
    color: #1F2B2B;
    margin: 0;

}

.blog-card-wrapper {
    padding: 40px 0 80px 0;
}

.blog-card {
    max-width: 384px;
    transition: transform 0.3s ease;
    border-radius: unset !important;
    border: none !important;
    background-color: #F7F6F6 !important;
}

.blog-card:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 10px 0 #1F2B2B1A;
}

.card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.blog-card-content {
    padding: 20px;
}

.featured-label {
    color: #3E5F69;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.author-date {
    font-size: 14px;
    font-weight: 500;
    color: #A59C8D;
}

.blog-title {
    margin: 10px 0;
    color: #1F2B2B;
}

.why-choose-everpeak-points {
    background-color: #E9E7E4;
    padding: 8px 12px;
}

.why-choose-everpeak-points-content {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;
}

.points-no {
    color: #857867;
}

.points-title {
    font-size: 18px;
    font-weight: 700;
    color: #857867;
}

.why-choose-everpeak-content {
    display: flex;
    min-width: 710px;
    flex-direction: column;
    gap: 25px;
}

.get-started-button {
    min-width: 180px;
    width: 180px;
    background-color: #A59C8D;
    color: #FAFAFA;
    border: 1px solid #857867;
    transition: all 0.2s ease-out;
}

.get-started-button:hover {
    background-color: #857867;
    border: 1px solid #A59C8D;
}

.why-choose-everpeak-wrapper {
    padding-bottom: 60px;
}

.our-private-investment-card {
    background-color: #A59C8D33 !important;
}

.our-private-investment-card-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 385px;
}

.label {
    font-weight: 700;
    color: #857867;
    text-transform: uppercase;
    font-size: 16px;
}

.value {
    color: #1F2B2B;
    font-size: 16px;
    font-weight: 500;
}

.become-an-investor {
    background-image: url("../images/invester-background-image.jpg");
    background-position: center;
    background-size: cover;
}

.become-an-investor-wrapper {
    max-width: 750px;
    padding: 40px 0 30px 100px;
}

.become-an-investor-card {
    background-color: rgba(233, 231, 228, 0.7) !important;
    border-radius: unset !important;
}

.investor-input-text {
    border-radius: 2px !important;
    padding: 10px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #3E5F69 !important;
}

.investor-input-text::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #3E5F69 !important;
}

.investor-input-text:focus {
    border: 1px solid #1F2B2B !important;
    outline: none !important;
    box-shadow: unset !important;
}

.investor-form-label {
    color: #1F2B2B !important;
}

.radio-check-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.radio-label {
    margin-top: 7px;
}

.investor-form-button {
    margin-left: 100px;
    padding-bottom: 30px;
}

.submit-button {
    background-color: unset;
    border: 1px solid #FAFAFA;
    color: #FAFAFA;
    min-width: 180px;
    transition: all 0.3s linear;
}

.submit-button:hover {
    background-color: #857867;
    border: 1px solid #A59C8D;
}

/*about-us-page start*/
.about-us-content {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.about-title {
    font-size: 16px;
    font-weight: 600;
    color: #1F2B2B;
}

.about-info {
    font-weight: 500;
    color: #857867;
}

.about-paragraph {
    font-weight: 400;
}

.about-us-wrapper {
    padding-bottom: 80px;
}

.our-mission-content {
    background-color: #E9E7E4;
    padding: 25px;
    max-width: 690px;
}

.contact-title {
    color: #857867;
}

.contact-info {
    font-weight: 400;
}

.our-mission-wrapper {
    padding-bottom: 60px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 32px 0 80px 0;
}

.grid-item {
    background-color: #F7F6F6;
    padding: 20px;
}

.grid-content {
    gap: 10px;
    padding-bottom: 10px;
}

.grid-heading {
    margin: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #857867;
}


.know-our-program-wrapper {
    padding-bottom: 45px;
}

.know-our-program-image {
    background-image: url("../images/know-our-program-image.png");
    height: 200px;
    margin-bottom: 40px;
    background-position: center;
}

.private-loan-program-wrapper {
    padding: 35px 0 40px 0;
}

.private-loan-program-item {
    background: #F7F6F6;
    border-bottom: 1px solid #A59C8D;
    padding: 20px;
    text-align: center;
    min-height: 125px;
    height: 125px;
    border-radius: 2px;
}

.private-loan-program-item-content {
    color: #A59C8D;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

.private-loan-program-image {
    background-image: url("../images/private-loan-program-image.png");
    height: 200px;
    margin-bottom: 40px;
    background-position: center;
}

.commercial-loan-program-item {
    background-color: #E7EAEB;
    border-bottom: 1px solid #3E5F69;
    border-radius: 2px;
}

.commercial-loan-program-heading {
    color: #3E5F69;
}

/*blog page start*/
.newsletter-wrapper {
    background: #f4f0eb;
    padding: 30px;
    max-width: 995px;
    margin: auto;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 60px;
}
.our-mission-wrapper {
    align-items: end;
}
.newsletter-heading {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1F2B2B;
}

.newsletter-content {
    color: #857867;
}

.newsletter-paragraph {
    font-size: 12px;
    font-weight: 400;
    padding: 24px 0;
    text-align: left;
}

.newsletter-submit-button {
    width: 100%;
    background-color: #3E5F69;
    border: 1px solid #857867;
    color: #FAFAFA;
}

.custom-scrollbar::-webkit-scrollbar {
    display: none;
}

.custom-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Active Tab Styling */
.active-tab {
    background-color: #7c7368 !important; /* Light brown shade */
    color: white !important;
    border-color: #7c7368 !important;
}

.blog-button-wrapper {
    gap: 20px;
    background-color: #E7EAEB;
    padding: 20px;
    margin-bottom: 20px;
}

.blog-btn {
    background: none;
    border: 1px solid #857867;
    font-size: 14px;
    color: #857867;
    min-width: 155px;
}

.back-to-blog {
    display: flex;
    gap: 5px;
    align-items: baseline;
}

.back-to-blog:hover {
    border-bottom: unset;
    padding: unset;
    text-decoration: underline;
}

.blog-image {
    background-image: url("../images/article-blog-image.png");
    height: 400px;
    margin: 40px 0 20px 0;
}

.blog-article-heading {
    background-color: #F7F6F6;
}

.article-blog-content {
    padding: 40px 0 80px 0;
}

.show-text-quotes {
    background-color: #E9E7E4;
}

.show-text-quotes-wrapper {
    padding: 60px 0;
    text-align: center;
}

.show-text-quotes-content {
    padding: 25px;
}
.apply-and-get-container {
    padding: 32px 0 60px 0;
}
.apply-and-get-heading {
    text-transform: uppercase;
}

.apply-get-qualified-wrapper {
    min-width: 595px;
    width: 595px;
}
.verify-your-loan-program {
    background-color: #FAFAFA33;
    border: 1px solid #A59C8D;
    padding: 20px;
    margin-bottom: 20px;
}
.verify-your-loan-program-content {
    font-size: 14px;
    font-weight: 400;
    color: #857867;
}
.ltv-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.ltv-label {
    font-size: 16px;
    font-weight: 500;
    color: #857867;
}
.submit-content {
    padding-bottom: 20px;
    font-size: 12px;
}
.apply-and-get-image-content {
    max-width: 385px;
}
.apply-and-get-content {
    padding: 20px 0;
    font-size: 16px;
    font-weight: 400;
    color: #1F2B2B;
}
.responsive-images {
    width: 40px;
}

.hamburger-images {
    display: none;
}

footer {
    background-color: #1F2B2B;
}

.footer-button {
    gap: 40px;
    width: 40%;
    align-items: end;
}

.footer-button button {
    border: 1px solid #FAFAFA;
    color: #FAFAFA;
}

.footer-button button:hover {
    border: 1px solid #A59C8D;
}

.footer-content {
    max-width: 20%;
}

.footer-contacts {
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 15px 0;
    line-height: 24px;
}

.footer-link {
    color: #FAFAFA;
}

.footer-link:hover {
    border-bottom: 1px solid #FAFAFA;
}

.footer-logo {
    padding-bottom: 15px;
}

.footer-wrapper {
    padding-bottom: 30px;
    padding-top: 80px;
}

.copyright-content {
    font-size: 14px;
    font-weight: 500;
    color: #A59C8D;
}

.copyright-wrapper {
    border-top: 1px solid #3E5F69;
    padding-top: 20px;
}

.copyright-links {
    display: flex;
    gap: 20px;
    align-items: center;
}
